<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="POST">
        <input type="text" name="name" placeholder="Name"
        <% if(typeof errors != "undefined"){%>
            value="<%= errors.reqNombre %>"
        <%}%>>
        <%if(typeof verificarUsuario != "undefined"){%>
            <p class="success-message"><%= verificarUsuario %></p>
        <%}%>
        <%if(typeof errors != "undefined"){%>
            <% for(let i = 0 ; i < errors.errors.length ; i++){ %>
                <%if(errors.errors[i].param == "name"){%>
                    <p class="error-total">* <%= errors.errors[i].msg %></p>
                    <% break; %>
                <%}%>
            <%}%>
        <%}%>
        <br>
        <input type="email" name="email" placeholder="Email"
        <% if(typeof errors != "undefined"){%>
            value="<%= errors.reqEmail %>"
        <%}%>>
        <%if(typeof errors != "undefined"){%>
            <%for(let i = 0 ; i < errors.errors.length ; i++){%>
                <%if(errors.errors[i].param == "email"){%>
                    <p class="error-total">* <%= errors.errors[i].msg %></p>
                    <% break; %>
                <%}%>
            <%}%>
        <%}%>
        <br>
        <input type="password" name="password" placeholder="Password"/>
        <%if(typeof errors != "undefined"){%>
            <%for(let i = 0 ; i < errors.errors.length ; i++){%>
                <%if(errors.errors[i].param == "password"){%>
                    <p class="error-total">* <%= errors.errors[i].msg %></p>
                    <% break; %>
                <%}%>
            <%}%>
        <%}%>
        <br>
        <input type="password" name="confirmPassword" placeholder="Confirm Password"/>
        <%if(typeof errors != "undefined"){%>
            <%for(let i = 0 ; i < errors.errors.length ; i++){%>
                <%if(errors.errors[i].param == "confirmPassword"){%>
                    <p class="error-total">* <%= errors.errors[i].msg %></p>
                    <% break; %>
                <%}%>
            <%}%>
        <%}%>
        <br>
        <button type="submit">Register</button>
    </form>
</body>
</html>